
.textBtnText{
    color: black;
    text-decoration: underline;

}

.textBtnText:hover{
    color: grey;
    cursor: pointer;
}

.everycon{
    padding-left: 70px;
    padding-right: 70px;
}

@media(max-width:1200px)
{
    .everycon{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width:992px)
{
    .everycon{
        padding-left: 0px;
        padding-right: 0px;
    }
}
