@import url("./bootstrap.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width:6px;
}

::-webkit-scrollbar-track{
  background : #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background: #ddd;
}

::-webkit-scrollbar-thumb:hover{
  background: #ccc;
}


/* start hover animation applied on button*/

.relcon{
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.abcon{
    position: absolute;
    top:0;
    left:0;
    height: 1px;
    width: 0%;
    background-color: black;
}

.hoverButton{
    border: none;
}

.hoverButton:hover .abcon{
    width: 100%;
    animation-name: animColorOn;
    animation-duration: 0.5s;
}

@keyframes animColorOn{
    0% {width:0%}
    100% {width:100%}
}

.hoverButton:not(:hover) .abcon{ 
    width: 0%;
    animation-name: animColorOff;
    animation-duration: 0.5s;
}


@keyframes animColorOff {
    0%   {Width:100%}
    100% {width:0%}
  }

/* end hover animation applied on button*/

/* start arrow move animation applied */
.relArrowMove{
  position: relative;
}

.abArrowMove{
  position: absolute;
  left:0px;
}

.arrowMoveCon:hover .abArrowMove{
  left:20px;
  animation-name: animArrowMoveOn;
  animation-duration: 0.5s;
}

@keyframes animArrowMoveOn{
  0% {left: 0px}
  100% {left: 20px}
}

.arrowMoveCon:not(:hover) .abArrowMove{
  left:0px;
  animation-name: animArrowMoveOff;
  animation-duration: 0.5s;
}

@keyframes animArrowMoveOff{
  0% {left: 20px}
  100% {left: 0px}
}

/* end arrow move animation applied */

.bigtext{
  font-size:50px !important;
  font-weight:bold !important;
}

.bold-subtitle{
  font-size:18px !important;
  font-weight:bold !important;
  margin-bottom: 10px !important;
}

.bold-subtitle-no-padding{
  font-size:18px !important;
  font-weight:bold !important;
}

.subtitle{
  font-size:16px !important;
  margin-bottom: 30px !important;
}

.title{
  font-size:35px !important;
  font-weight:bold !important;
  margin-bottom: 15px !important;
}


.black-btn{
  border:none;
  background-color: #000000;
  border-radius: 8px;
  padding:10px 20px 10px 20px;
}

.black-btn-text{
  color: white !important;
  font-size: 16px !important;
}

.black-btn:hover{
  background-color: #333333;
  transition: 0.5s;
}


.col-con{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-con{
  margin-bottom: 100px;
}

.main-con{
  padding-left: 100px;
  padding-right: 100px;
}

.blue-icon{
  width: 50px;
  margin-bottom: 15px;
}

.hoverBtn{
  border: none;
  padding :0;
  border-bottom: 1px solid black;
}

.hovertext{
  font-size: 17px !important;
}

.hoverBtn:hover{
  color: #898989;
  transition: 0.2s;
}

.hoverBtnInherit{
  border: none;
  padding :0;
  border-bottom: 1px solid white;
  color: white;
  background-color: inherit;
}

.hoverBtnInherit:hover{
  color: #BBBBBE;
  transition: 0.2s;
}

.icon{
  font-size: 30px !important;
}

.signtitle{
  font-size:35px !important;
  font-weight:bold !important;
}

.signicon{
  font-size: 40px !important;
}

.noticetext{
  font-size: 14px !important;
}

.subtitle-no-padding{
  font-size:16px !important;
}

@media(max-width:1200px)
{
  .main-con{
    padding-left: 50px;
    padding-right: 50px;
  }

  .row-con{
    margin-bottom: 80px;
  }
}

@media(max-width:992px)
{
  .main-con{
    padding-left: 20px;
    padding-right: 20px;
  }

  .row-con{
    margin-bottom: 50px;
  }

  .bigtext{
    font-size:40px !important;
  }
  
  .bold-subtitle{
    font-size:17px !important;
  }

  .bold-subtitle-no-padding{
    font-size:17px !important;
  }
  
  .subtitle{
    font-size:16px !important;
  }

  .subtitle-no-padding{
    font-size:16px !important;
  }

  .black-btn-text{
    font-size: 16px !important;
  }

  .noticetext{
    font-size: 14px !important;
  }

  .hovertext{
    font-size: 15px !important;
  }
  
  .title{
    font-size:30px !important;
  }

  .signtitle{
    font-size:30px !important;
    font-weight:bold !important;
  }
  
  .signicon{
    font-size: 35px !important;
  }

}

@media(max-width:768px)
{
  .bigtext{
    font-size:35px !important;
  }
  
  .bold-subtitle{
    font-size:16px !important;
  }

  .bold-subtitle-no-padding{
    font-size:16px !important;
  }

  .hovertext{
    font-size: 16px !important;
  }
  
  .subtitle{
    font-size:15px !important;
  }

  .subtitle-no-padding{
    font-size:15px !important;
  }

  .black-btn-text{
    font-size: 15px !important;
  }

  .noticetext{
    font-size: 14px !important;
  }
  
  .title{
    font-size:25px !important;
  }

  .signtitle{
    font-size:25px !important;
    font-weight:bold !important;
  }
  
  .signicon{
    font-size: 30px !important;
  }
}

@media(max-width:576px)
{
  .bigtext{
    font-size:30px !important;
  }
  
  .bold-subtitle{
    font-size:15px !important;
  }

  .bold-subtitle-no-padding{
    font-size:15px !important;
  }

  .hovertext{
    font-size: 15px !important;
  }
  
  .subtitle{
    font-size:14px !important;
  }

  .subtitle-no-padding{
    font-size:14px !important;
  }

  .black-btn-text{
    font-size: 14px !important;
  }

  .noticetext{
    font-size: 13px !important;
  }
  
  .title{
    font-size:20px !important;
  }

  .signtitle{
    font-size:20px !important;
    font-weight:bold !important;
  }
  
  .signicon{
    font-size: 25px !important;
  }
}

@media(max-width:320px)
{
  .bigtext{
    font-size:20px !important;
  }
  
  .bold-subtitle{
    font-size:14px !important;
  }

  .bold-subtitle-no-padding{
    font-size:14px !important;
  }

  .hovertext{
    font-size: 14px !important;
  }
  
  .subtitle{
    font-size:13px !important;
    margin-bottom: 15px !important;
  }

  .subtitle-no-padding{
    font-size:13px !important;
  }

  .black-btn-text{
    font-size: 13px !important;
  }

  .noticetext{
    font-size: 12px !important;
  }
  
  .title{
    font-size:16px !important;
  }

  .signtitle{
    font-size:16px !important;
    font-weight:bold !important;
  }
  
  .signicon{
    font-size: 21px !important;
  }
}



